.main-logo {
    height:auto;
    width: 160px;
}

.dropdown:hover .dropdown-menu {
    display:block;
}

.mobile-logo {
    height: 7.5vh;
    width:auto;
}

.white {
    color: white;
}

.menu-icon {
    font-size: 1.5em;
}

b {
    font-weight: 700;
    font-size: x-large;
    /* text-shadow: 4px 4px #000000; */
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000;
}